<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
</head>
<body>
    <link rel="stylesheet" href="/style.css">

    <h1>Details</h1>
    <h4>Id : <%= post.id %></h4>
    <div class="post">
    <h2>@<%= post.name %></h2>
    <p><%= post.content %> </p>
</div>
</body>
</html>